@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
h1{
	font:400 40px 'pt sans',sans-serif;
	text-align:center;
}


img{
	position: absolute;
	display: block;
	top: 30px;
	left: 320px;
	width: 50%;
	height: 70%;
}
p{
	text-align: center;
	display: block;
	position: absolute;
	top: 700px;
	left: 450px;
	font: 200 20px 'pt sans',sans-serif;
}
body{
	background-color: grey;
}